<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="version" class="col-sm-2 control-label">版本号：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="version">
    </div>
  </div>
</form>
