.header {
  font-family: "微软雅黑";
  color: #fff;
  height: 55px;
  position: fixed;
  background: #27bf81;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 200;
  font-size: 12px;
  overflow: hidden;
  .bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .header_bar {
    right: 20px;
  }
  span,a {
    color: #fff;
    margin-left: 10px;
    &:hover {
      color: #fae;
    }
  }
  .logout {
    // position: absolute;
    // right: 20px;
    cursor: pointer;
  }
}
.content {
  padding-left: 0px;
  position: absolute;
  top: 55px;
  width: 100%;
  .context_wrapper {
    border-left: 200px solid #313d4c;
  }
  .comment_submit {
    margin-top: 20px;
  }
  a {
    text-decoration: none;
  }
  .post {
    margin-top: 15px;
  }
  .comment_area {
    border-top: 1px solid #cecece;
    padding-top: 30px;
    ul li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    ul.comment {
      width: 800px;
      li {
        margin-top: 15px;
        padding-bottom: 3px;
        border-bottom: 1px solid #cecece;
      }
    }
    .empty {
      border: 1px solid red;
    }
  }
  .sidebar {
    margin-top: 20px;
    background-color: #313d4c;
    float: left;
    width: 200px;
    margin-left: -200px;
    min-height: 1080px;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style-type: none;
      a {
        display: inline-block;
        padding: 5px 25px;
        font-size: 12px;
        color: #fff;
        &:hover {
          color: #27bf81;
        }
      }
    }
    #contextmenu {
        width:180px;
        background-color:#fefefe;
        position:absolute;
        border:1px solid #BFBFBF;
        box-shadow:2px 2px 3px #aaaaaa;
        padding-bottom: 5px;
        li {
          font-size: 12px;
          height: 24px;
          line-height: 24px;
          padding-left: 10px;
          margin-top: 5px;
          &:hover {
            background-color: #4281F4;
            color: #fff;
            cursor: pointer;
          }
        }
    }
  }
  .sidebar_right {
    float: right;
    width: 200px;
  }
  .context {
    width: auto;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
    .article_item {
      @keyframes mymove {
        from {opacity:0.3;}
        to {opacity:1;}
      }
      transition:opacity 2s;
      &:hover {
        background-color: #e3f1f8;
        cursor: pointer;
        animation: mymove 1.2s;
      }
      border-bottom: 1px solid #e5e5e5;
      h4 {
        padding: 15px 0;
      }
      a:hover {
        color: #07f;
      }
      padding-bottom: 10px;
    }
    .articel_content {
      width: 1200px;
      margin: 0 auto;
    }
    .info {
      font-size: 12px;
    }
    .article {
      margin-bottom: 5px;
    }
    .seeAll{
      font-size: 12px;
    }
    .operation {
      font-size: 12px;
      margin-left: 10px;
    }
    .delete_operation {
      display: none;
    }
  }
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #27bf81;
    border-color: #27bf81;
    padding: .5em 1em;
}
.paginate {
    float: right;
}


.icon-click {
    background: url(http://qzonestyle.gtimg.cn/open_proj/proj_qcloud_v2/ac/event/zhizunfuwu/sprite.png) -660px -278px no-repeat;
    width: 32px;
    height: 24px;
    display: inline-block;
}
.por-table {
    width: 800px;
    border-color: #dedede;
    border-collapse: collapse;
    margin-top: 40px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.por-table td {
    position: relative;
    height: 54px;
    font-size: 16px;
    line-height: 27px;
    border: 1px solid #d7d7d7;
    text-align: center;
    color: #333;
}
.por-table .col-1 {
    width: 450px;
}
.por-table th {
    color: #fff;
    background: #394258;
    height: 62px;
    font-size: 20px;
    line-height: 41px;
    border: 1px solid #d7d7d7;
    text-align: center;
}
