div.header
  div.bar.logo
    a.back_to_index(href="/blog/home") 回到主页
  div.bar.header_bar
    if user
      span.name Hi, #{user.name} 你好！
      a.my_articles(href="/blog/#{user.name}") 我的文章
      span.logout 退出
    else
      a.blog_register(href="/blog/register") 立即注册
      a.blog_login(href="/blog/login") 登录
