link( rel="stylesheet", href="/stylesheets/atelier-lakeside-dark.min.css")
script(src="/javascripts/highlight.min.js")
script hljs.initHighlightingOnLoad();
style.
  pre {
    padding: 0
  }
  .hljs {
    font-family: 微软雅黑;
    display: block;
    overflow-x: auto;
    background: #161b1d;
    color: #7ea2b4;
    padding: 0.5em;
    line-height: 1.8;
    font-size: 15px;
  }
  p, li{
    font-size: 14px;
    font-family: "微软雅黑";
    padding-top: 5px;
    padding-bottom:5px;
  }
